---
title: Home
---

<h1>Grupo de Extensão Livre e Open Source - <small>ICMC/USP</small></h1>

<hr />

<h2>Últimas postagens</h2>
{% for post in site.posts limit:3 %}
{% include listagem-post.html element="h3" %}
{% endfor %}
